[alias]
	st = status
	co = checkout
	unstage = reset HEAD --
	last = log -l HEAD

[user]
	email = mateusz.bos@gmail.com
	name = Mateusz Boś

[push]
	default = simple

[alias]
	st = status
	aa = add -A
	com = commit -m

	cob = checkout -b
	go  = checkout -B                                                    	# switch to a branch, creating it if necessary

	chp     = cherry-pick

	fc = "!git commit --fixup `git log --format=format:%h  -n 1`" 

	# Rebasing
	reb     = !"r() { git rebase --autosquash -i HEAD~$1; }; r" 		# Interactive rebase with the given number of latest commits

	# Diffs
	# Check those out: https://gist.github.com/kaushikgopal?direction=asc&sort=updated
	# d   = !"d() { git_quick_diff_with_number_from_status_changed $1; }; d"  # Show the diff between the the current state and the latest commit
	dc  = diff --cached                                                     # show diff of changes in index
	dt  = difftool
	mt  = mergetool
	
	#Logging
	ls = log --oneline --decorate
	lsn = !"lsn() { git log --oneline --decorate -n $1; }; lsn"
	tree   = log --oneline --decorate --graph     # display git log as a tree	

	# Pushing 
	track = "!git push -u origin `git symbolic-ref --short HEAD`"

	sm-update = submodule update --remote

[status]
	submodulesummary = 1

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global     					# Use custom `.gitignore` and `.gitattributes`
	#attributesfile = ~/.gitattributes
	editor = gedit
	whitespace = trailing-space,space-before-tab

[help]
	autocorrect=0

[rebase]
	autosquash = true

[difftool "opendiff"]
  	cmd = studio $LOCAL $REMOTE

[diff]
  	tool = opendiff
 	mnemonicprefix = true
	compactionHeuristic = true
	submodule = log

[mergetool "opendiff"]
	cmd = studio $LOCAL $REMOTE -ancestor $BASE -merge $MERGED

[merge]
  	log = true
	tool = opendiff
	stat = true

[mergetool]
	keepBackup = false

[color]
	ui = always                                                      	# Use colors in Git commands that are capable of colored output when outputting to the terminal
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = red
	changed = green
	untracked = blue

[branch "master"]                                                             # Use `origin` as the default remote on the `master` branch in all cases
  remote = origin
  merge = refs/heads/master

